#colors() {
    colorPrimary: #282139;
    colorSecondary: #746cab;
    textColor1: #cbab2b;
    textColor2: #f7c809;
    textColor3: #5d5d5f;
    backgroudLight:#e3dfbb;
    backgroudMid:#fff;
}

#fonts() {
    fontPrimary: 'Roboto', sans-serif;
    fontSecondary: 'Sniglet', cursive;
}